.idea
.tern-project
node_modules/
build/
packages/
diskcache/
AzureEpiTest/bin/
AzureEpiTest/debug/
AzureEpiTest/obj/
AzureEpiTest/log/
.vs/

AzureEpiTest/App_Data/

license.config
license.config.org
*.suo
UpgradeLog.htm
*.log
*.user
